@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;

}

:root {
  --clr-1: #052b2f;
  --clr-2: #073438;
  --clr-3: #0e4b50;
  --clr-4: #2d8f85;
  --clr-5: #637c54;
}

body {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9d5a7;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--clr-2);
  background-image: url("background-image.jpg");
  background-size: 100% 100%
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  color: #FFD23F
}

.card {
  height: 40vh;
  width: 80vh;
  aspect-ratio: 1 / 1.5;
  background: var(--clr-1);
  border-radius: 0.5rem;

  position: relative;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  inset: -0.5rem;
  z-index: -1;
  background: conic-gradient(from var(--gradient-angle),
      var(--clr-3),
      var(--clr-4),
      var(--clr-5),
      var(--clr-4),
      var(--clr-3));
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}

.card::after {
  filter: blur(3.5rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }

  100% {
    --gradient-angle: 360deg;
  }
}


#new-question {
  background-color: #ff7f50;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  margin-top: 2rem;
  cursor: pointer;
}

h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: #FFD23F
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 65em;
}

#question {
  letter-spacing: 0.3em;
}

.button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 12em;
  height: 4em;
  white-space: normal !important;
  word-wrap: break-word;
}

.button:hover {
  background-color: #ddd;
}

.button:active {
  background-color: #aaa;
}


@media only screen and (min-width: 768px) {
  body {
    max-width: 768px;
    margin: auto;
  }
}